
/*존재하지 않은 데이터에 대한 폰트*/

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans','GmarketSansMedium' ;
    /* font-family: 'KBO-Dia-Gothic_bold'; */
}

a, button{
    cursor: pointer;
    /* color : white; */
}


html {
    scroll-behavior: smooth;
}

main{

    display: flex;
    flex-wrap: inline-block;

    background-color: #101322;

    color: white;
    
}



/*----------------------------------------------------------------------------*/

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	flex: 1;
    flex-basis: 17%;
    height: 840px;
    border-radius: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,34,155,1) 24%, rgba(0,212,255,1) 100%);
    
    font-size: 20px;
    font-weight: bold;
    color: white;

    position:sticky;
    top : 78px;
}


aside > a{
    margin-bottom: 40px;
    font-size: 25px;
    color: white;
}

/*----------------------------------------------------------------------------*/

.mypage-content{
	flex: 3;
    flex-basis: 83%;
    border: 5px solid red;
    
  }

.mypage{

    /* nav바에 맞게 높이 조절! */
    height: 840px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;

    border: 1px solid aqua ;
}

.mypage-info{

    height: 1000px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
/* 
    border: 1px solid aqua ; */
}

/* 중복되면 mypage-favorite 지우기!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ==========================================================================================================*/
										/*마이페이지 => 즐겨찾기 */

.mypage-favorite{
    height: 820px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
}


/* 마이페이지-즐겨찾기 */
.mypage-title{
    flex-basis: 40%;
    height: 200px;

    font-size: 50px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.favorite-setting{    
    flex-basis:3%;
    /* width: 360px; */
    /* height: 60px; */
    /* background-color: rebeccapurple; */
    /* align-self: flex-start; */
    
    display: flex;
    justify-content: space-around;
}


.favorite-setting > a:not(:nth-of-type(3)) {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin : 0px 30px;

    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
}

/* 영화관 버튼 (비활성화일 때)  */
.cinema-favorite-btn {
    background-color: white;
    opacity: 0.5;
    color : white;
}


/* style 바꾸기 */
.edit-favorite-btn{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin-left:  550px;

    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
    
    cursor: pointer;
}

/*==============================================================================================*/

.favorite-not-content{
    width:1300px;
    height:400px;
	
	display : flex;
    justify-content: center;
    align-items: center;
    
    font-size : 40px;
	font-family : "KBO-Dia-Gothic_bold";
}

/* -----  swiper 다른 방법 ---- */

.favorite-list{
    flex-basis: 57%;
    /* border: 2px solid yellow; */

     /*display: flex;*/

}

.likeContainer{
    width: 1400px;
    height: 400px;
}



.likeSwiper {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 2%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ftmain::-webkit-scrollbar-thumb {
    background-color: gray; /* 원하는 색상으로 변경 */
}

.gallery > div,
.galleryCinema > div {
    margin-right: 4%; /* 이미지 간격 설정 */
}

.gallery-container {
    display: flex;
    overflow: hidden;
    height: 100%;
    padding: 0;
    width: 100%;
}

.gallery,
.galleryCinema {
    display: flex;
    height: 100%;
    padding: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;

    align-items: center;
}




.recommend-container {
 	height: 350px;
 	
 	margin-left : 25px;

	display : flex;
    justify-content: center;
    align-items: center;
 	
}

.recommendImg-wrapper{
	height: 300px;
    width: 300px;
    overflow : hidden;	
    
    border : 5px solid white;
    border-radius: 50%;

	display : flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}


.recommend-container-cinema {
 	height: 350px;
 	
 	margin-left : 25px;

	display : flex;
    justify-content: center;
    align-items: center;
 	
}

.recommendImg-wrapper-cinema{
	height: 250px;
    width: 330px;
    overflow : hidden;	
    
    border : 5px solid white;
    border-radius: 10px;

	display : flex;
    justify-content: center;
    align-items: center;
    
    
    position: relative;
}


.recommendImg-hover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 207, 220, 0.3);
    color: #fff;
    padding: 5px;
    display: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.recommendImg-wrapper img {
	
	heigth : 100%;
	width : 100%;

    margin-top: 0;
}

.recommendImg-wrapper-cinema img{
	width : 100%;
	
}


.recommendImg-wrapper:hover .recommendImg-hover{
	display : flex;
    font-size : 25px;
    font-weight : bold;
	justify-content: center;
    align-items: center;
    text-align: center;
}

.recommendImg-wrapper:hover{

    border : 5px solid #ffc2d1;
}

.recommendImg-wrapper-cinema:hover .recommendImg-hover{
	display : flex;
    font-size : 25px;
    font-weight : bold;
	justify-content: center;
    align-items: center;
    text-align: center;
}

.recommendImg-wrapper-cinema:hover{

    border : 5px solid #ffc2d1;
}

.prev-button,
.next-button,
.cinema-prev-button,
.cinema-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 60px;
  cursor: pointer;
  color: #ffd6ff;
  border-radius: 50%;
}

.prev-button,
.cinema-prev-button {
  margin-right : 5px;
  left: 0;
}

.next-button,
.cinema-next-button {
  margin-left : 15px;
  right: 0; 
}

/*====================================================================================================*/

/* 마이페이지-방문기록 및 내가 작성한 댓글 */
.visit-history-container,
.comment-list-container{
    flex-basis: 10%;
    width: 1100px;
    color: black;
    background-color: white;

    font-size: 30px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


/* .visit-history-title,
.comment-list-title{
    font-size: 30px;
    flex-basis: 10%;
    width: 1100px;

    color: black;
    background-color: white;

    font-size: 30px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

#mypage-visit-history,
#mypage-comment-list,
#mypage-modify-member-info{
    padding: 20px;

}

.visit-history-content-container,
.modify-member-info-container{
    flex-basis: 90%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    
    /* overflow: auto; */
}

.visit-history-content{
    /* flex-basis: 100%; */

    width: 1100px;
    height: 600px;
    border-radius: 50px;
    background: linear-gradient(180deg, #040514 0%, #7A80FF 74.03%);

    /* 목록 정렬! */
    display: flex;


    overflow: scroll;
    overflow-x: hidden;
}

.visit-history-content::-webkit-scrollbar{
    width: 15px;
}

.visit-history-content::-webkit-scrollbar{
    background: #101322;
}

.visit-history-content::-webkit-scrollbar-thumb{
    height: 15%;
    background-color:#070583;
    border-radius: 10px;
}

.visit-history-list{
    flex-basis: 25%;
    /* border: 2px solid whitesmoke; */

    padding : 0px 50px;
    display: flex;
    align-items: center;

}

.history-img-container{
    background-color: red;
    /* margin: 5px 0px; */
    border-radius: 50px;
    flex-basis: 25%;

    width: 140px;
    height: 130px;

    overflow: hidden;

    display: flex;
    align-items: center;
}

.history-img-container > img{
    width: 100%;
    /* height: 100%; */
}

.history-content-container{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.history-content-container *:nth-child(1){
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.history-content-container *:nth-child(2){
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.history-del-btn{
    flex-basis: 5%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: #a3cef1;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.history-del-btn > div{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: black;

}

.history-del-btn:hover{
	background-color: #ff4d6d;
    font-weight: bold;
	opacity: 0.9;
}
.history-del-btn>div:hover{
	   	color :white;
}

/* ======================================================================= */

/* 마이페이지-내가 작성한 댓글 */
.comment-not-content{
    width:1300px;
    height:400px;
	
	display : flex;
    justify-content: center;
    align-items: center;
    
    font-size : 40px;
	font-family : "KBO-Dia-Gothic_bold";
}

.comment-list-content-container{
    flex-basis: 80%;

    /* padding: 20px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid yellow; */

    overflow: auto;
    overflow-x: hidden;
}


.comment-list-content-container::-webkit-scrollbar{
    width: 15px;
}

.comment-list-content-container::-webkit-scrollbar{
    background: #101322;
}

.comment-list-content-container::-webkit-scrollbar-thumb{
    height: 15%;
    background-color:#070583;
    border-radius: 10px;
}


.comment-list-del-container > table{
    flex-basis: 5%;
    width: 1020px;

    overflow: auto;
    overflow-x: hidden;
    
}


/* 댓글 조회 할 큰 틀 */
.comment-list-content-col{
    flex-basis: 95%;

    width: 1100px;
    border-radius: 50px;
    /* border : 2px solid white; */
    /* border : 2px solid red; */

    /* 목록 정렬! */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.comment-list-btn-container{
    flex-basis: 5%;
    width: 100%;
    /* border : 2px solid yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    /* margin-top: 20px; */
    /* ?????????????? */
}

.comment-list{
    flex-basis: 10%;
    /* border : 2px solid rebeccapurple; */

    padding : 0px 50px;
    display: flex;
    align-items: center;
}

.comment-del-btn,
.comment-list-all-btn{
    flex-basis: 5%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: rgb(230, 230, 230);
    color: black;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.comment-replace-btn,
.comment-list-all-del-btn{
    flex-basis: 10%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: wheat;
    color: black;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-content-container,
.comment-list-btn-container > p{
    flex-basis: 85%;

    display: flex;
    justify-content: space-between;

    padding: 0px 40px;
    align-items: center;
}




.comment-list-table{

    width: 1000px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.comment-list-col{

    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px;
}

.comment-list-check{
    flex-basis: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding : 5px 0px
}

.comment-list-col td{
	display : flex;
	
	    justify-content: center;
    align-items: center;
}

.comment-list-content-no {
	flex-basis : 5%;
}

.comment-list-all-content- {
	flex-basis : 10%;
}

.comment-list-board {
	flex-basis : 20%;
}


.comment-list-content{
    flex-basis: 30%;
    overflow : hidden;
}

.comment-list-date{
    flex-basis: 30%;

    display: flex;
    justify-content: center;
}

.comment-list-edit{
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-list-edit > button{
    width: 60px;
    height: 30px;
}

.comment-list-del-btn{
    width: 200px;
    height: 35px;
    margin-left: 60px;

    background-color: white;
    border: none;
    border-radius: 20px;
    
    color : black;
    font-weight : bold;

}

.comment-list-del-btn:hover{
   	background-color: #ff4d6d;
   	color :white;
    font-weight: bold;
    	
	opacity: 0.9;
}

.comment-setting{    
    flex-basis:3%;
    width: 1100px;
    /* width: 360px; */
    /* height: 60px; */
    /* background-color: rebeccapurple; */
    /* align-self: flex-start; */
    
    padding :10px 0px; 
    
    display: flex;
    justify-content: start;
    align-items: start;
    
    
   
}

.comment-setting > a:nth-of-type(1),
.comment-setting > .dropdown > a:nth-of-type(1){
    background-color: #e2dbff;
    color: black;
    border: 2px solid black;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.movie-comment-btn{
    margin : 0px 30px;
}

/* 영화관 버튼 (비활성화일 때)  */
.cinema-comment-btn {
    background-color: white;
    opacity: 0.5;
    color : white;
    margin : 0px;
    padding: 10px 0px;
}


/* 영화관 버튼 누르면 드롭 다운 파일 */

.dropdown {
  display: flex; /* 블록 요소로 변경 */
  /* position: relative; */

}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px; /* 화살표가 뾰족하게 나오도록 왼쪽에 배치 */
  transform: translateY(-50%);
  border-width: 6px 10px 6px 0; /* 뾰족한 화살표 모양을 만들기 위해 크기 조정 */
  border-style: solid;
  border-color: transparent #e2dbff transparent transparent;
  z-index: 2; /* 화살표를 다른 내용 위로 띄웁니다. */
}

/* .dropdown-content 스타일을 수정합니다. */
.dropdown-content {
  display: none; /* display를 block으로 변경 */
  position: relative; /* 포지션을 상대 포지션으로 변경 */
  background-color: #e2dbff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  padding-left: 6px; /* 화살표와 내용 사이에 간격을 줍니다. */
}



.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  
  font-weight : bold;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .cinema-comment-btn {
  background-color: #3e8e41;
}


/*-----------------------------------------------------------------------------------*/


/* 마이페이지-회원정보 수정 */

.modify-member-info-title{
    flex-basis: 10%;
    width: 1100px;

    font-size: 50px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}





.modify-member-info-content{
	
    flex-basis: 100%;
    width: 1159px;
    /* height: 1500px; */
    border-radius: 50px;
    background: linear-gradient(180deg, #000 0%, rgba(158, 185, 255, 0.68) 45.83%, rgba(255, 255, 255, 0.00) 99.99%, rgba(255, 255, 255, 0.00) 100%);
    /* 목록 정렬! */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}



/* 프로필 */
.member-info-profile-container{
    flex-basis: 35%;

    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.member-profile-wrapper{
    width: 270px;
    height: 270px;
    border: 3px solid #FFF;
    border-radius: 50%;

    overflow: hidden;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    display : flex;
    justify-content: center;
    align-items: center;
} 

.member-profile-wrapper>img{
    height: 100%;
}

.member-info-profile-container{position: relative;}

#deleteImage{
  position: absolute;
  top: 30px;
  right: 40%;

  transform: translate(50%, -50%);

  cursor: pointer;
  color : yellow;
 	z-index : 100;
	
}

#deleteImage:hover{


	color : red;

}

.member-change-btn-container{
	
	display : flex;
	
}

.member-profile-wrapper>i{
	width : 100%;
	font-size : 100px;
	
    display : flex;
    justify-content: center;
    align-items: center;
	
}


.member-profile-modify-btn{
    background-color: #DCEFF3;;
    border-radius: 10px;
    width: 350px;
    height: 40px;

    color: #8B8B8B;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    cursor: pointer; 
    
    margin-left : 20px;
    
    transition: background-color 0.3s ease, color 0.3s ease;

}


.changeBtn{
	border : none;
}



.fa-camera-retro{
    margin-right: 4px;
}


input[type="file"] {
    display: none;  
    cursor: pointer;
}


.member-profile-modify-btn:hover{
    background-color: #7A80FF;
    color: white;
    font-weight : bold;
}

.changeBtn:hover{
    background-color: #ffc057;
    color: white;
    font-weight : bold;
}



/*변경 내용*/
.info-container{
	width : 100%;
	height : 55%;
	
	display : flex;	
	 	justify-content: center;
	
	
	padding : 20px 0px;
}

.member-info-container{
    height : 100%;
    width : 100%;

    display: flex;
    flex-direction: column;
    
}

.modify-content-container{
    flex-basis: 23%;
    display: flex;
    justify-content: center;
}

.modify-title{
    flex-basis: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
}

.modify-content{
    flex-basis: 30%;

    display: flex;
    align-items: center;
}

.modify-content-input{
    flex-basis: 100%;

    font-size: 30px;
    width: 450px;
    height: 50px;   
    background: #D9D9D9;
    border-radius: 10px;

    display: flex;
    justify-content: start;
    align-items: center;

    padding: 5px;
    
}

.modify-content-input >i{
    flex-basis: 15%;
    color: black;
    font-size:30px;
    text-align: center;
    padding : 10px;
}

.modify-content-input >input{
    flex-basis: 40%;
    color: #8B8B8B;
    font-size: 30px;
    font-weight: bold;
    border: none;
    outline : none;
    background-color: transparent;
    padding: 10px 15px;

    font-size: 25px;
}

.modify-content-input >input:nth-of-type(2){
    padding: 10px 10px;

}
.validation-content{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    font-weight: bold;
}

.modify-content-btn{
    flex-basis: 50%;

    display: flex;
}

.modify-gender{
    flex-basis: 50%;

    width: 148px;
    height: 51px;

    border-radius: 20px;
    background: #F1F1F1;
    color: black;
    font-size: 30px;

    margin : 0px 30px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;

}

.modify-gender:hover{
    background-color: rgb(3, 198, 233);
    color: white;

}



/* 변경 내용 */

.member-info-option-container{
    flex-basis: 5%;

    display: flex;

    justify-content: center;
    align-items: center;

    /* border: 2px solid rebeccapurple; */
    
	transition: background-color 0.3s ease, color 0.3s ease;
}

.member-info-option-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 50px 0px 0px;

    width: 350px;
    height: 50px;

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.50);
    font-size: 30px;
    font-weight: bold;
}

.member-info-option-btn:hover{
	 opacity: 0.85;
}



.red{
    background-color: red;
}
footer{
    height: 300px;
}
footer>img{
    height: 100%;
    width: 100%;
}



/* =============================== */
/* 체크박스 디자인 */

/* 기존 체크박스 해제 */
/* input[type="checkbox"] {display: none;} */

/* 체크박스 labe 값 이용 */
/* input[type="checkbox"] + label {
    display: inline-block; width:17px; height: 17px; background: #fa3062;
    cursor: pointer; 
    border-radius: 3px;
    float: right;} */

/* #check + label{
    cursor:pointer;
} */

/* 클릭하기 전 */
/* #check+ label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    border:2px solid #F47C7C;
    border-radius: 4px;
    vertical-align:middle;
} */

#check:checked + label:before{
    content:"";
    background-color:#F47C7C;
    border-color:#F47C7C;
    /* background:url(https://icon-icons.com/icons2/930/PNG/48/check_icon-icons.com_72363.png); */
    /* background-repeat: no-repeat;
    background-position: 50%; */
}

/* input이 체크된 상태이면, 가상체크박스의 스타일을 변경하기 */
/* input:checked + label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: blue;
} */

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed; /* 고정 위치 */
    top: 50%; /* 화면 상단에서 중앙으로 이동 */
    left: 50%; /* 화면 왼쪽에서 중앙으로 이동 */
    transform: translate(-50%, -50%); /* 가운데로 이동 */
    z-index: 1;
    /* width: 80%; 모달의 너비 */
    max-width: 1200px; /* 최대 너비 설정 */
    height: 400px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #888;
}

/* 모달 내부 스타일 */
.modal-content {
    margin: 0;
    padding: 0;
}

/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}


.modify-gender > label >input{
    display: none;
}


/* 메세지 색상 지정 */
.confirm{ color : #affc41; }
.error{ color : #f42c04; }





