/* 즐겨찾기 리스트 */
#manager-event-update-box{
    position: fixed;
    top: 0;
    left: 0;
    bottom : 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.616);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


#manager-event-update-content{
    background-color: #00171f;
    width: 60%;
    /* width: 1000px;
    height: 570px;*/ 
    padding: 20px ;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* 그림자 효과 */
    display: flex;
    flex-direction: column;
    align-items: center;
    
	overflow : auto;
}

#manager-event-update-content::-webkit-scrollbar {
    height: 10px; /* 가로 스크롤바의 높이 설정 */
    width: auto; /* 가로 스크롤바의 너비를 자동으로 설정 */
}

#manager-event-update-content::-webkit-scrollbar-track {
    background: #101322; /* 스크롤바 트랙 배경색 설정 */
}

#manager-event-update-content::-webkit-scrollbar-thumb {
    background-color: #070583; /* 스크롤바 썸 배경색 설정 */
    border-radius: 10px; /* 스크롤바 썸 모양 설정 */
}

#event-modal-close{
    color: white;

    align-self: flex-end;
    display: flex;
    justify-content: end;
    padding-right: 10px;

    font-size: 25px;
    cursor: pointer;
} 

#event-modal-close:hover,
#event-modal-close:focus {
  color: rgb(118, 118, 207);
  text-decoration: none;
  cursor: pointer;
}




.title-container{
    flex-basis: 10%;
    
    font-size: 30px;
    font-weight: bold;

    display: flex;
    align-items: center;
}

.event-container{
    flex-basis: 80%;

    display: flex;

    padding: 20px;
}


table td{
    /* border: 2px solid yellow; */
    padding: 15px;

    font-size: 20px;
}

input {
    width:300px;
    height:30px;
    font-size:20px;
}

input:last-child{
    font-size: 15px;
}

select{
    width:180px;
    /* height:30px; */
    font-size:15px;
}


textarea{
    width: 300px;
    height: 150px;
    
    padding:10px;
}



.event-btn-container{

    flex-basis: 10%;

    display: flex;

    justify-content: center;
    /* align-items: center; */

}

.btn{
    width: 200px;
    height: 40px;

    background-color: aliceblue;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.btn:nth-child(2){
    background-color: red;
}















