


body{

    height: 2000px;
    font-family: '맑은고딕';

}




#tos{
  height: 900px;
  margin-bottom: 10%;


}


#policy{
    height: 900px;
    margin-bottom: 10%;
  
  
  }


#location{
    height: 900px;
    margin-bottom: 5%;
  
  
  }
  

#tos-title{

    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: white;
    font-size: 3rem;
    font-weight: bold;



}



#policy-title{

    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: white;
    font-size: 3rem;
    font-weight: bold;



}



#location-title{

    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: white;
    font-size: 3rem;
    font-weight: bold;



}





#tou-detail{

height: 80%;
overflow: hidden scroll;
background-color: #E6E6FA;
padding: 0;
margin: 0 5% 0 5%;

font-size: 1rem;
white-space: pre-wrap;
text-align: left;

}



/*이동시 짤림방지 */
.anchor{
    display: block;
    height: 88px;       /* 헤더의 height와 동일한 값 */
    margin-top: -88px;  /* 헤더의 height와 동일한 값 */
    visibility: hidden;
}

/*글자 강조  */
.emphasis{
    text-align: center;
    font-size:2rem;
    font-weight: bold;
}






/* //////////////////////////////////////////////////////////////////// */

/* 선택창 */

.link-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top : 5%;
}

.link-wrap-box{
    display: table;
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    position: relative;

}



.link-wrap-box .link-policy{

    list-style : none;
    display: table-cell;
    /* 동일간격으로 영역 */
    vertical-align: middle; 
    /* 중앙정렬 */
    border: 1px #e6e6fac7 solid;
    text-align: center;
    cursor: pointer;


}



.link-policy a {

    text-decoration-line: none;
    color: #79798ffd;


}


.link-policy:hover a{
 

    color: white;
}

.link-policy:hover {
    background: teal;
   
}