<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "movieMapper">
	<!-- BoardImage resultMap -->
	
 
	<resultMap type="Movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO"/>
		
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="movieImg" column="MOVIE_IMG"/>
		<result property="movieSummary" column="MOVIE_SUMMARY"/>
		<result property="movieGenre" column="MOVIE_GENRE"/>
		<result property="movieReleaseDate" column="MOVIE_RELEASE_DATE"/>
		<result property="movieAge" column="MOVIE_AGE"/>
		<result property="movieRunningTime" column="MOVIE_RUNNING_TIME"/>
		<result property="movieEnrollDate" column="MOVIE_ENROLL_DATE"/>
		<result property="movieDelYN" column="MOVIE_DEL_YN"/>
		<result property="actorNames" column="ACTOR_NAMES"/>
		<result property="directorNames" column="DIRECTOR_NAMES"/>	
		<result property="sumMovieGrade" column="SUM_MOVIE_GRADE"/> <!-- 이거 주의 !!!  -->
		
		<result property="movieCommentNo" column="MOVIE_EV_NO"/>
		<result property="movieCommentContent" column="EVALUATION_CONTENT"/>
		<result property="movieCommentDate" column="MOVIE_EV_ENROLL_DATE"/>
		<result property="movieGrade" column="MOVIE_GRADE"/>
		
		<result property="commentMovieWriter" column="COMMENT_MOVIE_WRITER"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="writerProfile" column="COMMENT_MEMBER_PROFILE"/>

		
	</resultMap>
	
	
		
	<resultMap type="Cinema" id="cinema_rm">
		<id property="cinemaNo" column="CINEMA_NO" />

		<result property="cinemaName" column="CINEMA_NAME" />
		<result property="cinemaAddress" column="CINEMA_ADDRESS" />
		<result property="cinemaContact" column="CINEMA_CONTACT" />
		<result property="cinemaImg" column="CINEMA_IMG" />
		<result property="cinemaLink" column="CINEMA_LINK" />
		<result property="cinemaMaxInclude" column="CINEMA_MAX_INCLUDE" />
		<result property="cinemaDelYN" column="CINEMA_DEL_YN" />
		<result property="cinemaSpecialHall" column="CINEMA_SPECIAL_HALL" />

		<result property="cinemaType" column="CINEMA_TYPE" />
		
	</resultMap>
	

	<!-- CDATA 태그 : 해당 태그 내부에 작성된 것은 모두 문자로 취급 -->

	<!--Search 1) 검색 결과 리스트 -->
	<select id = "searchMovieList" resultMap = "movie_rm">
	SELECT * 
	FROM (
		SELECT
	    M.MOVIE_NO,
	    M.MOVIE_TITLE,
	    M.MOVIE_IMG,
	    M.MOVIE_SUMMARY,
	    M.MOVIE_GENRE,
	    TO_CHAR(M.MOVIE_RELEASE_DATE, 'YYYY"년" MM"월" DD"일"') AS MOVIE_RELEASE_DATE,
	    M.MOVIE_AGE,
	    M.MOVIE_RUNNING_TIME,
	    LISTAGG(CASE WHEN C.CASTING_CATEGORY = 'A' THEN C.CASTING_NAME ELSE NULL END, ' / ') WITHIN GROUP (ORDER BY C.CASTING_NAME) AS ACTOR_NAMES,
	    LISTAGG(CASE WHEN C.CASTING_CATEGORY = 'D' THEN C.CASTING_NAME ELSE NULL END, ' / ') WITHIN GROUP (ORDER BY C.CASTING_NAME) AS DIRECTOR_NAMES,
	    M.MOVIE_DEL_YN
		FROM MOVIE M
		JOIN MOVIE_CASTING MC ON M.MOVIE_NO = MC.MOVIE_NO
		JOIN CASTING C ON MC.CASTING_NO = C.CASTING_NO
		GROUP BY M.MOVIE_NO, M.MOVIE_TITLE, M.MOVIE_IMG, M.MOVIE_SUMMARY, M.MOVIE_GENRE, M.MOVIE_RELEASE_DATE, M.MOVIE_AGE, M.MOVIE_RUNNING_TIME, M.MOVIE_DEL_YN)
	WHERE MOVIE_DEL_YN = 'N' AND (MOVIE_TITLE LIKE '%' || #{movieQuery} || '%' OR MOVIE_GENRE LIKE '%' || #{movieQuery} || '%' OR ACTOR_NAMES LIKE '%' || #{movieQuery} || '%' OR DIRECTOR_NAMES LIKE '%' || #{movieQuery} || '%')	
	</select>


<!-- 영화 상세 설명 -->


	<!-- 1) 검색 결과  -->
	<select id = "selectMovie"  resultMap = "movie_rm">
		SELECT * 
		FROM (
			SELECT
		    M.MOVIE_NO,
		    M.MOVIE_TITLE,
		    M.MOVIE_IMG,
		    M.MOVIE_SUMMARY,
		    M.MOVIE_GENRE,
		    TO_CHAR(M.MOVIE_RELEASE_DATE, 'YYYY"년" MM"월" DD"일"') AS MOVIE_RELEASE_DATE,
		    M.MOVIE_AGE,
		    M.MOVIE_RUNNING_TIME,
		    M.MOVIE_DEL_YN
			FROM MOVIE M
			JOIN MOVIE_CASTING MC ON M.MOVIE_NO = MC.MOVIE_NO
			GROUP BY M.MOVIE_NO, M.MOVIE_TITLE, M.MOVIE_IMG, M.MOVIE_SUMMARY, M.MOVIE_GENRE, M.MOVIE_RELEASE_DATE, M.MOVIE_AGE, M.MOVIE_RUNNING_TIME, M.MOVIE_DEL_YN)
		WHERE MOVIE_DEL_YN = 'N' AND MOVIE_NO = #{movieNo}		
	</select>


	<!-- 2) 배우 정보 검색 결과  -->
	<select id = "actorInfoList" resultType = "map">
		SELECT CASTING_NAME, CASTING_URL
		FROM MOVIE M
		JOIN MOVIE_CASTING MC ON M.MOVIE_NO = MC.MOVIE_NO
		JOIN CASTING C ON MC.CASTING_NO = C.CASTING_NO
		WHERE CASTING_CATEGORY = 'A' AND M.MOVIE_NO = #{movieNo}
	</select>
	
	<!--  3) 감독 정보 검색 결과 -->
	<select id = "directorInfoList" resultType = "map">
		SELECT CASTING_NAME, CASTING_URL
		FROM MOVIE M
		JOIN MOVIE_CASTING MC ON M.MOVIE_NO = MC.MOVIE_NO
		JOIN CASTING C ON MC.CASTING_NO = C.CASTING_NO
		WHERE CASTING_CATEGORY = 'D' AND M.MOVIE_NO = #{movieNo}
	</select>
	
	
	<!-- 4) 영화를 상영하는 상영관 리스트 가져오기 -->
	<select id ="selectCinemaList" resultMap = "cinema_rm">
	SELECT CINEMA_NO, CINEMA_NAME, CINEMA_ADDRESS, CINEMA_IMG, CINEMA_LINK, CINEMA_TYPE
	FROM CINEMA 
	JOIN MOVIE_STATUS USING(CINEMA_NO) 
	WHERE CINEMA_NO = (	SELECT CINEMA_NO
						FROM MOVIE_STATUS ms
						WHERE MOVIE_NO = #{movieNo})	
	</select>
	
	
	<!-- 5) 해당 영화와 비슷한 (장르기준) 추천  -->
	<!-- 
	<select id ="recommendMovie" resultMap = "movie_rm">
	SELECT MOVIE_NO, MOVIE_TITLE, MOVIE_IMG
	FROM (SELECT *
			FROM MOVIE 
			WHERE MOVIE_DEL_YN ='N'AND MOVIE_GENRE = #{movieGenre} 
			ORDER BY DBMS_RANDOM.VALUE)
	<![CDATA[WHERE ROWNUM <= 10]]>
	</select>
	 -->
	 <!--  
	 <select id = "recommendMovie" resultMap = "movie_rm">
	 	SELECT DISTINCT MOVIE_NO, MOVIE_TITLE, MOVIE_IMG
		FROM (<foreach  collection="list"  item = "genre" separator = "UNION ">
				SELECT MOVIE_NO, MOVIE_TITLE, MOVIE_IMG, MOVIE_GENRE 
				FROM MOVIE 
				WHERE MOVIE_DEL_YN ='N'AND MOVIE_GENRE LIKE '%' || #{genre} || '%' 
   			 </foreach >)
   		ORDER BY DBMS_RANDOM.VALUE
		FETCH FIRST 10 ROWS ONLY   	
	 </select>
-->
	
	 <select id = "recommendMovie" resultMap = "movie_rm">
	 	SELECT DISTINCT *
		FROM (
			<foreach  collection="genreList"  item = "value" separator = "UNION ">
				SELECT MOVIE_NO, MOVIE_TITLE, MOVIE_IMG, MOVIE_GENRE 
				FROM MOVIE 
				WHERE MOVIE_DEL_YN ='N'
				AND MOVIE_GENRE LIKE '%' || #{value} || '%' 
   			 </foreach >
   			 )
   		WHERE MOVIE_NO != ${movieNo}
   		ORDER BY DBMS_RANDOM.VALUE
		FETCH FIRST 10 ROWS ONLY   	
	 </select>
	
	
	<!-- 관리자-영화 페이지에서 영화 목록 조회 -->
	<select id="selectManagerMovieList" resultMap = "movie_rm">
	
		SELECT MOVIE_NO,MOVIE_TITLE,MOVIE_GENRE,NVL2('NULL',0,MOVIE_GRADE) MOVIE_GRADE,MOVIE_RUNNING_TIME  
		FROM MOVIE m 
		LEFT JOIN MOVIE_EVALUATION me USING (MOVIE_NO)
		WHERE MOVIE_DEL_YN = 'N'
	</select>
	

	
	<update id="deleteMovie">
  		UPDATE MOVIE m  
		SET MOVIE_DEL_YN  = 'Y'
		WHERE MOVIE_NO = #{movieNo}
  	</update>
	
	<!-- ============================ 댓글 =========================================== -->
	
	<!-- 영화 댓글 조회  -->
	<select id = "commentMovieList" resultMap = "movie_rm">
		SELECT MOVIE_EV_NO, MEMBER_ID AS "COMMENT_MOVIE_WRITER", EVALUATION_CONTENT, TO_CHAR(MOVIE_EV_ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') MOVIE_EV_ENROLL_DATE, MOVIE_GRADE, MEMBER_PROFILE AS COMMENT_MEMBER_PROFILE 
		FROM MOVIE_EVALUATION 
		JOIN MOVIE USING(MOVIE_NO)
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MOVIE_DEL_YN ='N' AND MOVIE_EV_DEL_YN = 'N' AND MOVIE_NO = #{movieNo}
		ORDER BY MOVIE_EV_ENROLL_DATE DESC
	</select>

	<!--  댓글 삽입 -->
	<insert id = "commentInsert">
		INSERT INTO "MOVIE_EVALUATION"
		VALUES(SEQ_MOVIE_EV_NO.NEXTVAL, 
				#{movieCommentContent},
				SYSDATE,
				#{movieGrade},
				DEFAULT,
				#{memberNo},
				#{movieNo})
	</insert>
	
	<!--  댓글 삭제 -->
	<update id ="commentDelete">
		UPDATE MOVIE_EVALUATION 
		SET MOVIE_EV_DEL_YN = 'Y'
		WHERE MOVIE_EV_NO = #{movieCommentNo}
	</update>
	
	
	<!--  댓글 수정 -->
	<update id="updateComment">
		UPDATE MOVIE_EVALUATION 
		SET EVALUATION_CONTENT = #{movieCommentContent},
			MOVIE_EV_ENROLL_DATE = SYSDATE				
		WHERE MOVIE_EV_NO = #{movieCommentNo}
	</update>
	
</mapper>


